.btn {
  display: inline;
  font-family: serif;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 1rem 1.8rem;
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: -1px;
  word-spacing: -2px;
}

.btn:hover {
  box-shadow: 2px 2px 1px var(--color-black);
}

.btn:active {
  box-shadow: 0.5px 0.2px 1px var(--color-black);
}
