* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: serif;
}

:root {
  --color-white: rgb(242, 247, 254);
  --color-blue: rgb(47, 128, 237);
  --color-blue-1: rgb(151, 190, 244);
  --color-blue-2: rgb(246, 248, 251);
  --color-black: rgb(79, 79, 79);
  --color-gray: rgb(130, 130, 130);
  --color-gray-light: rgb(189, 189, 189);
  --color-gray-light-2: rgb(242, 242, 242);
  --color-green: rgb(33, 150, 83);
}

*::-webkit-scrollbar {
  height: 3px;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
}
*::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

.container {
  width: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 15px rgba(189, 189, 189, 0.5);
}

/* UTILS */
.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.73);
  backdrop-filter: blur(10px);
}
